Source: controller
Section: user/other
Priority: optional
Maintainer: unknown <>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: iamboke.blogspot.com

Package: controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Control Pad for Nokia N9
XSBC-Maemo-Display-Name: Control Pad
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEQAi862JnuzwAAAB1pVFh0Q29tbWVudAAAAAAAQ3Jl
 YXRlZCB3aXRoIEdJTVBkLmUHAAADxklEQVRIx6XWb2iVVRwH8M957t11m1Pb9d/UleafIiUkkVLI
 qKDAIhLxX4VUrwITemH1qigtiKIg7VX0JioQ1qveFFQkJkUqYVhB2SZE/nezbXq3u917d3rx3HG3
 5obTHxzO4fn+nuf7nO/vzznB/+2jmDfNA4I7BVMFwbVaFHEFxxUc8GzoHoZGf2R/XCTjZcFWTJ8U
 yWiybuxX9I7t4dRook/jdFPsEewQ1LlRiwZF+7DblnAlqT4NpnhM8NSNkmQD+ToEOcF2wXpIidrM
 wmbMTNCUuX6iDfPYs5wF9WAONmuL+aQaqdWCtYKwNs+by1ncOHmSusC6WWxt5bYmqjG+15BViQ9j
 He4TzISWeh5uoSk7eaKATCCpjqrNlliX1WSGaDWSTJI6Gn4BQ9dI0lxHoczhS+m6o0AuUCITo9UZ
 W15fLNjRWCf/9C1smM+K6Uyr7qj9CrH6sYUN9FVY2MiVcjr3lpiZ49U70vnz0/zQRfcgz91KPie0
 FwwlEvMEzQ1Jqu3jC8jneGYRD82tSTArx65lPNrCi8tYP5eXlrF4ajo2t/LgnNT3dJGlTbywlI0L
 qM+kSTYPDdBfoVhJnfsqDIzQLcHULLkkjV8uoamuJnFSlXs4NLmE+kzqmwQNWcxCprvM2yf4vZct
 rext57uLlKq6XRzk3RP83Zf6dBT443I6z87xzXl+ukQlpnV0qj99drSbYkUmaIuvCV4RZAM2zueN
 FWw7zPHea8+4+fV0l1JJ75/NW38SIz1l+soGEkF2uBXF6igPTT61zxQpDaV1tK2V25s4O5CGIJU+
 Kqkllt96UtnOFq+vjrJj6yhtTaLLQo3oRIG/CiOYTVxPI7FS5Mi/aZqfLIxusVlBp6BMrZmOJGmZ
 wiMtHOvmWM9okrtmsOomvjyXyhTRdooDF/hntCKVRHBG1D/e325tZe9Kdi4Z3WybMjy/hPdXsvXm
 4e5McWgMCfQlorO4dDWixgxr8mn93J1nbn0NmzOFe6rYmjwNE3f8zkS/86KO6sk4uhsnNOdqO2hI
 alhDptZ4m+tS33FP3Kg9cVKP6OjV4j04RNdguu4tU6iM0KLC5VK67hpMU3scq+BIYncoq/geF8cI
 W+HHLnpK6XxhoIadH0ib5zDWXxmX6BwOZatJ/jMOiTaNvJAMZ1HnAL/2jt3RBx0c7OTbC+OkfxqO
 g/ilVlZtcZNgn2De1QoxTlCk42GGnFKx0xPhi1oIi74SfSIqjv2xiS474wL9oo9lfD32XtcWW7BL
 8CTyY/BrvWjRpeIzifdsCRfhP8JdQgDQ2Tz4AAAAAElFTkSuQmCC
